<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Seattle Soccer <%= item.name %> </title>
  <link rel="stylesheet" type="text/css" href="/styles.css">
  <script defer src="/scripts/itemDeleteButton.js"></script>
</head>
<body>
  <h1 id="item-name"><%= item.name %></h1>
  <p id="item-description"><%= item.description %></p>
  <p id="item-price">$<%= item.price %></p>
  <p id="item-quantity">In stock: <%= item.quantity %></p>

  <button id="delete-button" class="button" data-category-id="<%= item.category_id %>">Delete Item</button>
</body>

<script>
  window.id = <%= item.id %>;
</script>
</html>